<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/lunch1.png" alt=" recipe icon" />
    <h4>Healthy Meal</h4>
  </li>
  <li class="recipe">
    <img src="/lunch2.png" alt=" recipe icon" />
    <h4>Fried Chicken bento</h4>
  </li>
  <li class="recipe">
    <img src="lunch3.png" alt=" recipe icon" />
    <h4>Tarang-Rubbed Salman</h4>
  </li>
  <li class="recipe">
    <img src="/lunch4.png" alt=" recipe icon" />
    <h4>Indian Lunch</h4>
  </li>
  <li class="recipe">
    <img src="/lunch5.png" alt=" recipe icon" />
    <h4>Beef Steak</h4>
  </li>
  <li class="recipe">
    <img src="/lunch6.png" alt=" recipe icon" />
    <h4>Thie Steak</h4>
  </li>
</ul>

<%- include('partials/footer'); -%>
